In [10]:
from typing import Optional,Dict,Any
#from pydantic import BaseModel
from datetime import datetime
from pydantic_avro.base import AvroBase

PayloadDict = Dict[str, Any]

class BaseOrmModel(AvroBase):
    class Config:
        orm_mode = True

    @property
    def dict_for_model(self) -> PayloadDict:
        return self.dict(by_alias=False)

class Employees(BaseOrmModel):
    id: Optional[int]
    name: str
    datetime: datetime
    job_id: int
    department_id: int


class Departments(BaseOrmModel):
    id: Optional[int]
    department: str


class Jobs(BaseOrmModel):
    id: Optional[int]
    job: str

In [11]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class DepartmentEntity(Base):
    __tablename__ = "departments"
    id = Column(Integer, primary_key=True, index=True)
    department_id = Column(String, index=True)


class JobEntity(Base):
    __tablename__ = "jobs"
    id = Column(Integer, primary_key=True, index=True)
    job = Column(String, index=True)

class EmployeeEntity(Base):
    __tablename__ = "employees"
    id = Column(Integer, primary_key=True, index=True)
    name = Column(String, index=True)
    datetime = Column(String, index=True)
    department_id = Column(Integer)
    job_id = Column(Integer)

/tmp/ipykernel_1084124/3035618717.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
from sqlalchemy.orm import Session
from typing import Type, List,TypeVar,Generic
from fastavro import reader, parse_schema
from io import BytesIO
from datetime import date
import boto3
import os

MINIO_ENDPOINT="http://minio:9000"
MINIO_ACCESS_KEY="minio"
MINIO_SECRET_KEY="minio1234"

BaseT = TypeVar("BaseT", bound=Base)
BaseOrmModelT = TypeVar("BaseOrmModelT", bound=BaseOrmModel)


BUCKET_NAME="backup"

s3 = boto3.resource("s3",
    endpoint_url=MINIO_ENDPOINT,
    aws_access_key_id=MINIO_ACCESS_KEY,
    aws_secret_access_key=MINIO_SECRET_KEY)


class Connector(Generic[BaseT, BaseOrmModelT]):
    def __init__(self, db_session: Session, entity: Type[BaseT], domain: Type[BaseOrmModelT]):
        self.db_session = db_session
        self.entity = entity
        self.domain = domain
        
    def convert_db_to_domain(self, entity: BaseT) -> BaseOrmModelT:
        return self.domain.from_orm(entity)

    def convert_domain_to_db(self, domain: BaseOrmModelT) -> BaseT:
        return self.entity(**domain.dict_for_model)

    def write(self, obj: BaseOrmModelT):
        db_obj = self.convert_domain_to_db(obj)
        try:
            self.db_session.add(db_obj)
            self.db_session.commit()
        except:
            self.db_session.rollback()
            raise

    def read_all(self) -> List[BaseOrmModelT]:
        db_objs = self.db_session.query(self.entity).all()
        return [self.convert_db_to_domain(db_obj) for db_obj in db_objs]

    def read_by_id(self, id: int) -> BaseOrmModelT:
        db_obj = self.db_session.query(self.entity).filter_by(id=id).first()
        return self.convert_db_to_domain(db_obj) if db_obj else None

    def update(self, obj: BaseOrmModelT):
        db_obj = self.db_session.query(self.entity).filter_by(id=obj.id).first()
        if db_obj:
            try:
                for key, value in obj.dict(exclude_unset=True).items():
                    setattr(db_obj, key, value)
                self.db_session.commit()
            except:
                self.db_session.rollback()
                raise

    def delete(self, id: int):
        db_obj = self.db_session.query(self.entity).filter_by(id=id).first()
        if db_obj:
            try:
                self.db_session.delete(db_obj)
                self.db_session.commit()
            except:
                self.db_session.rollback()
                raise
            
    def delete_all(self, entity: BaseT):
        try:
            self.db_session.query(entity).delete()
            self.db_session.commit()
        except:
            self.db_session.rollback()
            raise

    def restore_from_avro(self, bucket_name: str, date: date, entity: Base, domain: any):
        schema_file_name = f"{entity.__tablename__}.avsc"
        schema_file = s3.Object(bucket_name, schema_file_name)
        schema = parse_schema(schema_file.get()["Body"].read())
        backup_file_name = f"{entity.__tablename__}_{date}.avro"
        backup_file = s3.Object(bucket_name, backup_file_name)
        buffer = BytesIO(backup_file.get()["Body"].read())
        self.delete_all(entity)
        with reader(buffer, parse_schema(schema)) as records:
            for record in records:
                domain_obj = domain(**record)
                self.write(domain_obj)

In [5]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [6]:


local_data_path=os.environ["LOCAL_DATA_PATH"]

def read_csv_file(file_path):
    return pd.read_csv(file_path)

def create_table(engine, entity, domain):
    connector = Connector(engine, entity, domain)
    table_name = entity.__name__
    print(f"Creating {table_name}s...")
    table = read_csv_file(f"{local_data_path}/{table_name}.csv")
    for _, row in table.iterrows():
        record = domain(**row.to_dict())
        print(record)
        connector.write(record)

def create_tables(connector):
    print("Creating Tables...")
    Base.metadata.create_all(bind=connector.db_session.bind)

if __name__ == "__main__":
    user=os.environ["POSTGRES_USER"]
    password=os.environ["POSTGRES_PASSWORD"]
    host=os.environ["POSTGRES_HOST"]
    port=os.environ["POSTGRES_PORT"]
    db=os.environ["POSTGRES_DB"]
    db_uri=f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}"
    engine = create_engine(db_uri)

    print(f"Data to db...")
    create_table(engine, EmployeeEntity, Employee)
    create_table(engine, JobEntity, Job)
    create_table(engine, DepartmentEntity, Department)

    print("Done!")

KeyError: 'LOCAL_DATA_PATH'

In [ ]:
from datetime import datetime
from io import BytesIO
from fastavro import writer
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import os
import boto3
from src.connector import Connector
from src.models import Employees, Jobs, Departments
from src.schemas import (Departments as DepartmentsEntity,
                         Employees as EmployeesEntity,
                         Jobs as JobsEntity)
import json

MINIO_ENDPOINT=os.environ["MINIO_ENDPOINT"]
MINIO_ACCESS_KEY=os.environ["MINIO_ACCESS_KEY"]
MINIO_SECRET_KEY=os.environ["MINIO_SECRET_KEY"]
TARGET_BUCKET=os.environ["BACKUP_BUCKET"]
NUM_TRANSFER_THREADS = 50
TRANSFER_VERBOSITY = True
USER = os.environ["POSTGRES_USER"]
PASSWORD = os.environ["POSTGRES_PASSWORD"]
HOST = os.environ["POSTGRES_HOST"]
PORT = os.environ["POSTGRES_PORT"]
DB = os.environ["POSTGRES_DB"]
DB_URI = f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{DB}"
 
    
s3 = boto3.client('s3',
                  aws_access_key_id=MINIO_ACCESS_KEY,
                  aws_secret_access_key=MINIO_SECRET_KEY,
                  endpoint_url=MINIO_ENDPOINT,
                  use_ssl=False)

def backup_to_avro(engine, entity, domain):
    connector = Connector(engine, entity, domain)
    table_name = entity.__name__
    backup_filename = f"{table_name}_{datetime.now().strftime('%Y-%m-%d_%H-%M')}.avro"
    schema_filename = f"{table_name}.avsc"

    data = connector.read_all()
    schema = domain.avro_schema()
    data_buffer = BytesIO()
    writer(data_buffer, schema, data)
    data_buffer.seek(0)

    schema_buffer = BytesIO(json.dumps(schema).encode("utf-8"))
    schema_buffer.seek(0)

    try:
        s3.upload_fileobj(data_buffer, TARGET_BUCKET, backup_filename)
        print(f"Backup of table {table_name} uploaded to MinIO: {TARGET_BUCKET}")

        s3.upload_fileobj(schema_buffer, TARGET_BUCKET, schema_filename)
        print(f"Schema for table {table_name} uploaded to MinIO: {TARGET_BUCKET}")
    except Exception as err:
        print(f"Error uploading backup of table {table_name} to MinIO: {err}")

if __name__ == "__main__":
    print(f"Running backup now: {datetime.now().strftime('%Y-%m-%d_%H-%M')}")

    engine = create_engine(DB_URI)
    Session = sessionmaker(bind=engine)
    session = Session()
    connector = Connector(session, EmployeesEntity, Employees)

    backup_to_avro(session, EmployeesEntity, Employees)
    backup_to_avro(session, JobsEntity, Jobs)
    backup_to_avro(session, DepartmentsEntity, Departments)

    print("Backup process completed.")

In [40]:
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="employees"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
LOCAL_DATA_PATH="/app/data"
MINIO_ENDPOINT="http://localhost:9000"
MINIO_ACCESS_KEY="minio"
MINIO_SECRET_KEY="minio1234"
BACKUP_BUCKET="backup"
DB_URI = f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{DB}"

In [8]:
from datetime import datetime
from io import BytesIO
from fastavro import writer
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import os
import boto3

In [42]:
engine = create_engine(DB_URI)
Session = sessionmaker(bind=engine)
session = Session()
connector = Connector(session, EmployeeEntity, Employees)

In [22]:
connector.read_all()

[Employees(id=1, name='Stacey Walker', datetime=datetime.datetime(1996, 2, 2, 13, 17, 36, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=2, name='Jasmine Sanders', datetime=datetime.datetime(2013, 9, 8, 2, 44, 42, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=3, name='Amanda Roberts', datetime=datetime.datetime(1989, 7, 12, 18, 19, 39, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=4, name='Sarah Wade', datetime=datetime.datetime(2021, 12, 17, 21, 39, 11, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=5, name='Sabrina Moss', datetime=datetime.datetime(1976, 9, 6, 5, 45, 25, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=6, name='Andrew Walton', datetime=datetime.datetime(1996, 2, 11, 23, 39, 50, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=7, name='Ricky Arnold', datetime=datetime.datetime(2000, 5, 12, 22, 42, 48, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=8, name='Erica Underwood', datetime=datetime.datetime(1977, 5, 22, 2, 49, 29, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=9, name='Judy Castro', datetime=datetime.datetime(1988, 12, 1, 20, 1, 40, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=10, name='Michelle Anderson', datetime=datetime.datetime(1976, 9, 15, 18, 18, 34, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=11, name='Oscar Webb', datetime=datetime.datetime(1988, 1, 12, 21, 55, 37, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=12, name='Michelle Fields', datetime=datetime.datetime(2018, 6, 29, 15, 11, 39, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=13, name='David Lester', datetime=datetime.datetime(2001, 5, 20, 22, 20, 34, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=14, name='Jeffery Stewart', datetime=datetime.datetime(2016, 7, 22, 5, 3, 26, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=15, name='Joseph Webster', datetime=datetime.datetime(2009, 1, 11, 9, 6, 32, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=16, name='Randy Figueroa', datetime=datetime.datetime(2007, 10, 13, 21, 16, 32, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=17, name='Michael Johnson', datetime=datetime.datetime(2017, 1, 9, 0, 54, 16, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=18, name='Kimberly Sparks', datetime=datetime.datetime(1991, 10, 24, 4, 58, 24, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=19, name='Brian Cooper', datetime=datetime.datetime(2016, 3, 27, 12, 46, 49, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=20, name='Mason Wilkins', datetime=datetime.datetime(1989, 12, 23, 20, 6, 35, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=21, name='Eric Lee', datetime=datetime.datetime(1978, 8, 18, 16, 42, 40, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=22, name='Christine Nixon', datetime=datetime.datetime(2010, 5, 14, 5, 4, 17, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=23, name='Nicole Patton', datetime=datetime.datetime(2009, 10, 19, 23, 21, 39, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=24, name='Timothy Flores', datetime=datetime.datetime(2022, 4, 23, 14, 19, 24, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=25, name='Brooke Williams', datetime=datetime.datetime(2009, 1, 15, 13, 11, 58, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=26, name='Tina Castillo MD', datetime=datetime.datetime(1991, 8, 27, 16, 54, 42, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=27, name='David Adams', datetime=datetime.datetime(1994, 3, 23, 1, 1, 55, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=28, name='Erin Garrett', datetime=datetime.datetime(2020, 3, 28, 15, 56, 6, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=29, name='Amber Wagner', datetime=datetime.datetime(1978, 10, 31, 16, 21, 48, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=30, name='Jamie Campbell', datetime=datetime.datetime(1972, 12, 27, 8, 30, 1, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=31, name='Benjamin Jordan MD', datetime=datetime.datetime(1985, 7, 16, 14, 44, 4, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=32, name='Richard Wilcox', datetime=datetime.datetime(2001, 6, 5, 17, 3, 21, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=33, name='Jodi Steele', datetime=datetime.datetime(1984, 2, 27, 18, 20, 8, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=34, name='Emily Farrell', datetime=datetime.datetime(2007, 2, 5, 15, 4, 56, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=35, name='Danny Mayer', datetime=datetime.datetime(1974, 11, 17, 5, 4, 16, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=36, name='Mary Tran', datetime=datetime.datetime(2021, 8, 31, 8, 45, 7, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=37, name='Patrick Holland', datetime=datetime.datetime(1979, 2, 7, 5, 21, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=38, name='Monica Moses', datetime=datetime.datetime(2010, 10, 30, 22, 34, 42, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=39, name='Amy Dominguez', datetime=datetime.datetime(1982, 12, 28, 4, 1, 13, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=40, name='Brian Alexander', datetime=datetime.datetime(2001, 11, 5, 20, 0, 9, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=41, name='Melissa Holland', datetime=datetime.datetime(2007, 2, 16, 21, 28, 36, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=42, name='Mark Taylor', datetime=datetime.datetime(1994, 12, 22, 5, 6, 15, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=43, name='John Garcia', datetime=datetime.datetime(1997, 11, 24, 19, 15, 45, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=44, name='John Guerrero', datetime=datetime.datetime(1990, 9, 29, 5, 13, 12, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=45, name='Deborah Wood', datetime=datetime.datetime(2007, 8, 2, 20, 52, 26, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=46, name='Peter Underwood', datetime=datetime.datetime(2013, 2, 15, 18, 32, 28, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=47, name='Laura Simmons', datetime=datetime.datetime(2009, 12, 29, 2, 47, 59, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=48, name='Pamela Wood', datetime=datetime.datetime(1981, 11, 5, 21, 32, 8, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=49, name='Justin Ross', datetime=datetime.datetime(2021, 1, 28, 10, 14, 32, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=50, name='Amanda Greene', datetime=datetime.datetime(2007, 4, 17, 22, 12, 6, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=51, name='Gregory Aguilar', datetime=datetime.datetime(1983, 10, 24, 3, 46, 20, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=52, name='Brittany Bailey', datetime=datetime.datetime(2014, 5, 23, 7, 40, 28, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=53, name='Morgan Hernandez', datetime=datetime.datetime(1995, 2, 5, 14, 8, 14, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=54, name='Mark Blevins', datetime=datetime.datetime(1980, 12, 6, 4, 35, 16, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=55, name='Matthew Jacobs', datetime=datetime.datetime(2000, 4, 15, 21, 42, 55, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=56, name='Gary Hunter', datetime=datetime.datetime(2015, 3, 7, 2, 27, 7, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=57, name='Dylan Graham', datetime=datetime.datetime(1992, 9, 23, 15, 46, 53, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=58, name='Daniel Clay', datetime=datetime.datetime(2004, 4, 3, 23, 12, 16, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=59, name='Tommy Valdez', datetime=datetime.datetime(1977, 8, 5, 16, 22, 32, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=60, name='Patricia Keller', datetime=datetime.datetime(1975, 8, 4, 1, 55, 24, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=61, name='John Sullivan', datetime=datetime.datetime(1976, 1, 8, 5, 6, 57, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=62, name='Fernando Rodgers', datetime=datetime.datetime(1973, 1, 17, 3, 50, 14, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=63, name='David Taylor', datetime=datetime.datetime(2005, 7, 23, 14, 54, 48, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=64, name='Leslie Harvey', datetime=datetime.datetime(2016, 2, 3, 13, 34, 10, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=65, name='Jeremy Ortiz', datetime=datetime.datetime(1993, 5, 17, 21, 37, 31, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=66, name='Brad Harris', datetime=datetime.datetime(2016, 12, 27, 11, 26, 30, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=67, name='Dr. Yvette Wagner', datetime=datetime.datetime(2009, 6, 23, 5, 29, 52, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=68, name='Carmen Trevino', datetime=datetime.datetime(2015, 6, 17, 22, 32, 58, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=69, name='Rebekah Lawson', datetime=datetime.datetime(2014, 12, 4, 3, 53, 43, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=70, name='Alexandra Chaney', datetime=datetime.datetime(1984, 6, 19, 9, 54, 44, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=71, name='Chad Johnson', datetime=datetime.datetime(1992, 4, 28, 23, 18, 42, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=72, name='Gregory Arroyo', datetime=datetime.datetime(2000, 10, 26, 16, 53, 11, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=73, name='Meagan Brown', datetime=datetime.datetime(1986, 1, 1, 13, 18, 25, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=74, name='Eddie Joseph DDS', datetime=datetime.datetime(1979, 2, 8, 2, 29, 38, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=75, name='Thomas Vasquez', datetime=datetime.datetime(1985, 6, 28, 6, 13, 14, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=76, name='Stephanie Frazier', datetime=datetime.datetime(1981, 12, 21, 23, 3, 18, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=77, name='Curtis Vega', datetime=datetime.datetime(1995, 6, 3, 12, 42, 57, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=78, name='Michael Gonzalez', datetime=datetime.datetime(1980, 11, 15, 4, 48, 23, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=79, name='Jacob Yoder', datetime=datetime.datetime(1976, 12, 9, 13, 11, 20, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=80, name='Joshua Mcintosh', datetime=datetime.datetime(2008, 1, 5, 1, 55, 1, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=81, name='Marissa Allen', datetime=datetime.datetime(1977, 12, 3, 19, 36, 49, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=82, name='Cathy Barnett', datetime=datetime.datetime(1990, 11, 15, 11, 13, 22, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=83, name='Morgan Weber', datetime=datetime.datetime(2021, 2, 24, 5, 57, 52, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=84, name='Ryan Robinson', datetime=datetime.datetime(2011, 2, 21, 6, 23, 21, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=85, name='Jamie Walton', datetime=datetime.datetime(2022, 8, 6, 1, 18, 42, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=86, name='Alexandria Charles', datetime=datetime.datetime(1981, 9, 13, 1, 53, 45, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=87, name='Debra Williams DDS', datetime=datetime.datetime(1990, 5, 18, 14, 12, 41, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=88, name='Christopher Rivas', datetime=datetime.datetime(1990, 8, 11, 5, 53, 5, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=89, name='Mrs. Alexandra Norris DDS', datetime=datetime.datetime(2009, 2, 13, 20, 9, 31, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=90, name='Richard Mcdonald', datetime=datetime.datetime(1994, 1, 1, 8, 4, 50, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=91, name='James Davenport', datetime=datetime.datetime(2015, 11, 20, 21, 44, 41, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=92, name='Michael Sanchez', datetime=datetime.datetime(1996, 7, 31, 8, 29, 6, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=93, name='Michelle Rosales', datetime=datetime.datetime(1984, 6, 24, 23, 31, 6, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=94, name='Leslie Aguilar', datetime=datetime.datetime(1991, 6, 19, 6, 41, 45, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=95, name='Paul Clarke', datetime=datetime.datetime(2005, 9, 16, 16, 10, 57, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=96, name='Kristen Wood', datetime=datetime.datetime(2022, 1, 30, 6, 32, 27, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=97, name='Gregory Malone', datetime=datetime.datetime(1992, 12, 3, 18, 26, 59, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=98, name='Misty Garcia', datetime=datetime.datetime(1996, 5, 9, 1, 9, 38, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=99, name='David Li', datetime=datetime.datetime(2006, 7, 24, 6, 21, 31, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=100, name='Stacy Turner', datetime=datetime.datetime(1982, 12, 2, 0, 12, 1, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=101, name='Garrett Houston', datetime=datetime.datetime(2010, 7, 27, 2, 57, 3, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=102, name='Richard Velasquez', datetime=datetime.datetime(2003, 9, 27, 9, 16, 5, tzinfo=datetime.timezone.utc), job_id=2, department_id=2),
 Employees(id=103, name='Crystal Sandoval', datetime=datetime.datetime(2009, 2, 5, 22, 48, 23, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=104, name='Andrew Thomas', datetime=datetime.datetime(1986, 1, 3, 15, 23, 22, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=105, name='Anthony Moore', datetime=datetime.datetime(1990, 2, 1, 7, 52, 18, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=106, name='Sierra Miller', datetime=datetime.datetime(2015, 7, 12, 10, 35, 11, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=107, name='Jordan Waters MD', datetime=datetime.datetime(2021, 11, 21, 6, 28, 11, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=108, name='Brandon Hanson', datetime=datetime.datetime(2021, 12, 11, 4, 49, 22, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=109, name='Aaron Hamilton', datetime=datetime.datetime(1997, 6, 11, 18, 44, 21, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=110, name='Adam Ramirez', datetime=datetime.datetime(2014, 3, 28, 19, 39, 20, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=111, name='Paul Cook', datetime=datetime.datetime(1978, 3, 7, 5, 26, 54, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=112, name='Scott Berry', datetime=datetime.datetime(1986, 11, 20, 7, 3, 47, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=113, name='Olivia Reese', datetime=datetime.datetime(1985, 12, 23, 13, 16, 52, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=114, name='Nicole Stanley', datetime=datetime.datetime(2011, 6, 25, 4, 23, 36, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=115, name='Stephen Clayton', datetime=datetime.datetime(1996, 12, 19, 15, 19, 14, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=116, name='Sarah Sloan', datetime=datetime.datetime(2006, 6, 8, 1, 54, 21, tzinfo=datetime.timezone.utc), job_id=2, department_id=3),
 Employees(id=117, name='Daniel Webb', datetime=datetime.datetime(1989, 11, 2, 1, 3, 56, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=118, name='Emma Davis', datetime=datetime.datetime(2017, 10, 23, 5, 34, 24, tzinfo=datetime.timezone.utc), job_id=3, department_id=2),
 Employees(id=119, name='Bradley Mcgrath', datetime=datetime.datetime(2022, 12, 7, 3, 14, 20, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=120, name='Erica Krause', datetime=datetime.datetime(1971, 4, 11, 14, 40, 48, tzinfo=datetime.timezone.utc), job_id=1, department_id=3),
 Employees(id=121, name='Sandra Butler', datetime=datetime.datetime(2022, 7, 8, 18, 46, 3, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=122, name='Paul Mclean', datetime=datetime.datetime(2017, 6, 8, 9, 55, 14, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=123, name='Victoria Maldonado', datetime=datetime.datetime(2021, 9, 19, 19, 1, 7, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=124, name='Steven James', datetime=datetime.datetime(2010, 1, 14, 22, 41, 35, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=125, name='Daniel Davis', datetime=datetime.datetime(1977, 4, 22, 5, 18, 33, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=126, name='Nicole Davis', datetime=datetime.datetime(1980, 8, 2, 7, 8, 13, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=127, name='James Owens', datetime=datetime.datetime(2003, 6, 28, 9, 57, 5, tzinfo=datetime.timezone.utc), job_id=3, department_id=3),
 Employees(id=128, name='Adam Cunningham', datetime=datetime.datetime(2005, 5, 5, 16, 37, 46, tzinfo=datetime.timezone.utc), job_id=1, department_id=1),
 Employees(id=129, name='Arthur Wood', datetime=datetime.datetime(1994, 5, 17, 21, 59, 29, tzinfo=datetime.timezone.utc), job_id=1, department_id=2),
 Employees(id=130, name='Linda Stewart', datetime=datetime.datetime(2011, 12, 15, 3, 25, 41, tzinfo=datetime.timezone.utc), job_id=2, department_id=1),
 Employees(id=131, name='Eddie Dixon', datetime=datetime.datetime(1988, 3, 17, 7, 54, 24, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),
 Employees(id=132, name='Stephanie Lambert', datetime=datetime.datetime(1982, 10, 18, 22, 16, 38, tzinfo=datetime.timezone.utc), job_id=3, department_id=1),

In [29]:

backup_file = s3.Object(bucket_name, backup_file_name)
buffer = BytesIO(backup_file.get()["Body"].read())
self.delete_all(entity)
with reader(buffer, parse_schema(schema)) as records:
    for record in records:
        domain_obj = domain(**record)
        self.write(domain_obj)

NameError: name 'backup_file_name' is not defined

In [43]:
entity=EmployeeEntity
bucket_name=BACKUP_BUCKET
domain=Employees

In [44]:
schema_file_name = f"{domain.__name__}.avsc"
schema_file = s3.Object(bucket_name, schema_file_name)
schema = parse_schema(schema_file.get()["Body"].read())
backup_file_name = f"{domain.__name__}_{date}.avro"

EndpointConnectionError: Could not connect to the endpoint URL: "http://minio:9000/backup/Employees.avsc"

In [17]:
import os
os.listdir("../../")

['README.md',
 '__pycache__',
 'requirements.txt',
 '.gitignore',
 'api-data',
 '.python-version',
 '__init__.py',
 'crontab',
 'Dockerfile',
 'data_generator.py',
 'tests',
 'api',
 'postgres-data',
 'docker-compose.yml',
 'Makefile',
 '.git']

In [24]:
user="postgres"
password="postgres"
host="db"
port=5432
db="employees"
db_uri=f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}"
engine = create_engine(db_uri)

In [25]:
data = pd.read_csv("../../api-data/Employee.csv")

In [20]:
data

       id               name                   datetime  job_id  department_id
0       1     Michael Kelley  1971-01-31T22:26:49+00:00       2              3
1       2   Marcus Stevenson  2022-07-14T09:13:30+00:00       1              3
2       3     Gary Hernandez  1981-02-20T06:07:51+00:00       1              3
3       4     Candice Nelson  2003-09-06T17:49:40+00:00       3              3
4       5  Anthony Gallagher  1973-07-08T21:37:25+00:00       1              2
..    ...                ...                        ...     ...            ...
995   996         John Jones  1987-04-08T16:51:57+00:00       1              3
996   997       Joel Webster  2014-12-25T13:01:49+00:00       2              2
997   998     Morgan Ramirez  2017-06-28T03:21:21+00:00       2              3
998   999         Linda Hull  1994-01-04T17:17:39+00:00       1              1
999  1000       Jonathan Lee  1982-06-07T12:37:39+00:00       1              2

[1000 rows x 5 columns]

In [50]:
connector = Connector(engine, EmployeeModel, Employee)

In [42]:
for _, row in data.iterrows():
    record = Employee(**row.to_dict())

In [43]:
record

Employee(id=1000, name='Jonathan Lee', datetime=datetime.datetime(1982, 6, 7, 12, 37, 39, tzinfo=datetime.timezone.utc), job_id=1, department_id=2)

In [52]:
connector.convert_db_to_domain(connector.convert_domain_to_db(record))

Employee(id=1000, name='Jonathan Lee', datetime=datetime.datetime(1982, 6, 7, 12, 37, 39, tzinfo=datetime.timezone.utc), job_id=1, department_id=2)

In [46]:
EmployeeModel

__main__.EmployeeModel

In [47]:
record.dict_for_model

{'id': 1000,
 'name': 'Jonathan Lee',
 'datetime': datetime.datetime(1982, 6, 7, 12, 37, 39, tzinfo=datetime.timezone.utc),
 'job_id': 1,
 'department_id': 2}

In [45]:
EmployeeModel(**record.dict_for_model)

InvalidRequestError: One or more mappers failed to initialize - can't proceed with initialization of other mappers. Triggering mapper: 'Mapper[DepartmentModel(departments)]'. Original exception was: When initializing mapper Mapper[DepartmentModel(departments)], expression 'Employee' failed to locate a name ('Employee'). If this is a class name, consider adding this relationship() to the <class '__main__.DepartmentModel'> class after both dependent classes have been defined.

In [49]:
EmployeeModel(**record.dict())

In [38]:
EmployeeModel

__main__.EmployeeModel