In [32]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pandas as pd
import psycopg2
user="postgres"
password="postgres"
host="localhost"
port=5432
db="employees"
conn = psycopg2.connect(database=db, user=user, password=password, host=host, port= port)
pd.read_sql("select * from employees", con=conn)

/tmp/ipykernel_1150464/2176605786.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select * from employees", con=conn)

       id                 name                datetime  department_id  job_id
0       1          Donald Hall  2014-12-22 14:55:16+00              1       1
1       2           Leslie Key  1983-10-18 16:23:29+00              3       3
2       3          Aaron Ayala  1970-06-17 19:49:42+00              3       3
3       4          Larry Evans  1975-07-01 06:13:58+00              1       2
4       5    Mr. Kenneth Solis  2008-11-27 08:16:37+00              3       1
..    ...                  ...                     ...            ...     ...
995   996  Mr. Michael Griffin  1984-05-07 08:40:30+00              3       2
996   997     Mitchell Stevens  1970-05-20 06:46:01+00              2       2
997   998      Nicholas Conrad  2021-04-20 09:42:19+00              2       1
998   999         Gary Burgess  1979-01-16 02:18:42+00              1       2
999  1000          Melissa Lee  2006-04-07 05:19:54+00              3       3

[1000 rows x 5 columns]

In [25]:
employees = pd.read_sql_query('select * from employees',con=conn)

/tmp/ipykernel_1150464/2880356847.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  employees = pd.read_sql_query('select * from employees',con=conn)

In [26]:
jobs = pd.read_sql_query('select * from jobs',con=conn)

/tmp/ipykernel_1150464/1813763471.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  jobs = pd.read_sql_query('select * from jobs',con=conn)

/tmp/ipykernel_1150464/2740400238.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  departments = pd.read_sql_query('select * from departments',con=conn)

In [33]:
employees = pd.read_sql_query('select * from employees',con=conn)
jobs = pd.read_sql_query('select * from jobs',con=conn)
departments = pd.read_sql_query('select * from departments',con=conn)
employees["datetime"] = pd.to_datetime(employees.datetime)
employees = employees.loc[employees.datetime.dt.year == 2021, :]
merged = employees.merge(departments, left_on="department_id", right_on="id")
merged = merged.merge(jobs, left_on="job_id", right_on="id")
result= merged.loc[:, ["department_id", "department"]]
result = result.groupby("department").value_counts().reset_index()
result.columns = ["department", "id", "total"]
result.loc[result.total > result.total.mean(), :].to_json(orient="records")

/tmp/ipykernel_1150464/1454033110.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  employees = pd.read_sql_query('select * from employees',con=conn)
/tmp/ipykernel_1150464/1454033110.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  jobs = pd.read_sql_query('select * from jobs',con=conn)
/tmp/ipykernel_1150464/1454033110.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  departments = pd.read_sql_query('select * from departments',con=conn)

'[{"department":"Supply Chain","id":1,"total":9}]'

In [35]:
import json
result.loc[result.total > result.total.mean(), :].to_dict()

{'department': {2: 'Supply Chain'}, 'id': {2: 1}, 'total': {2: 9}}

In [14]:
import psycopg2

In [16]:
conn = psycopg2.connect(database=db, user=user, password=password, host=host, port= port)

In [17]:
pd.read_sql("select * from employees", con=conn)

/tmp/ipykernel_1150464/816348954.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select * from employees", con=conn)

       id                 name                datetime  department_id  job_id
0       1          Donald Hall  2014-12-22 14:55:16+00              1       1
1       2           Leslie Key  1983-10-18 16:23:29+00              3       3
2       3          Aaron Ayala  1970-06-17 19:49:42+00              3       3
3       4          Larry Evans  1975-07-01 06:13:58+00              1       2
4       5    Mr. Kenneth Solis  2008-11-27 08:16:37+00              3       1
..    ...                  ...                     ...            ...     ...
995   996  Mr. Michael Griffin  1984-05-07 08:40:30+00              3       2
996   997     Mitchell Stevens  1970-05-20 06:46:01+00              2       2
997   998      Nicholas Conrad  2021-04-20 09:42:19+00              2       1
998   999         Gary Burgess  1979-01-16 02:18:42+00              1       2
999  1000          Melissa Lee  2006-04-07 05:19:54+00              3       3

[1000 rows x 5 columns]

In [11]:
conn = engine.connect()
result = conn.execute('SELECT * FROM employees')
df = pd.DataFrame(result.fetchall())

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM employees'

In [12]:
conn = engine.connect()

result = conn.execute('SELECT 1')
df = pd.DataFrame(result.fetchall())

ObjectNotExecutableError: Not an executable object: 'SELECT 1'

In [5]:
pd.read_sql("select * from employees", con=session)

/tmp/ipykernel_1150464/2934377951.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select * from employees", con=session)

AttributeError: 'Session' object has no attribute 'cursor'